@import 'flex';
@import 'box';
@import 'pos';
@import 'text';
@import 'anim';
@import 'color';
@import 'col';

body, h1, h2, h3, p {
  margin: 0;
}
h1, h2, h3 {
  font-family: "Aldrich", sans-serif;
}
body {
  background: #111729;
  color: #fff;
}
.q-table__card {
  background: transparent;
}
.bg-primary, .bg-info {
  color: #0F172A!important;
}

.q-btn-group > .q-btn-item {
  min-height: 44px;
}

.bdrs-2 { border-radius: 2px; }
.bdrs-3 { border-radius: 3px; }
.bdrs-5 { border-radius: 5px; }
.bdrs-8 { border-radius: 8px; }
.bdrs-10 { border-radius: 10px; }
.bdrs-100 { border-radius: 100px; }

$color1: #429efc;
.color-1, .link {
  color: $color1;
}

.hover-1:active {
  opacity: .8;
}

.p-mb-1 {
  p {
    margin-bottom: 10px;
  }
}

.q-btn {
  text-transform: none;
}
.q-carousel__arrow .q-btn {
  background: rgb(0 0 0 / 12%);
}
.q-notification {
  transition: all ease 0.3s;
}

.split-line .q-btn:not(:last-child):after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 10px;
  background: #000;
  top: 50%;
  transform: translateY(-50%);
}
